<nav class="links">
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'explore'}}Explore{{/link-to}}
  {{!-- <a href="#" class="share" {{action 'share'}}>Share</a> --}}
  {{#if session.isAuthenticated}}
    {{#link-to 'share' class="share"}}Share{{/link-to}}
  {{/if}}
</nav>

<nav class="logos">
  <p></p>
</nav>

<nav class="user">
  {{#if session.isWorking}}
  {{else}}
    {{#if session.isAuthenticated}}
      <div class="info">
        <img src="{{session.currentUser.image_url}}" alt="">
        <a href="" {{action "logout"}}>Logout</a>
      </div>
    {{else}}
      <div class="actions">
        <a href="" class="login" {{action "authenticate"}}>Login</a>
      </div>
    {{/if}}
  {{/if}}
</nav>
